

*  @Autor:Juan Sebastian Suarez Corredor
*  @Date:2022/Feb/19
*  
@Description:This python notebook shows basic exercises in python.

# **Ejercicios Basicos**

# Ejercicio 1: Productos + IVA

In [ ]:
prod1=int(input("Input first product:"))
prod2=int(input("Input second product:"))
prod3=int(input("Input third product:"))
prod4=int(input("Input fourth product:"))
prod5=int(input("Input fifth product:"))
suma=(prod1+prod2+prod3+prod4+prod5)
iva=suma *0.19
total=suma+iva
print("Valor bruto",suma,"\nIVA:",iva,"\nTOTAL:",total)

VERSION PYTON

In [ ]:
pro1,pro2,pro3,pro4,pro5=input("input 1°,2°,3°,4° and 5° products, separate with comma:").split(",")
suma=(pro1+pro2+pro3+pro4+pro5)
print("Valor bruto",suma,"\nIVA:",iva,"\nTOTAL:",total)

# Ejercicio 2

In [ ]:
var1=float(int(input("Enter the first number: ")))
var2=float(int(input("Enter the second number: ")))
var3=float(int(input("Enter the third number: ")))
if (var1 >= var2) and (var1 >= var3):
   largest = var1
elif (var2 >= var1) and (var2 >= var3):
   largest = var2
else:
   largest = var3
print("The largest number is", largest)
if (var1 <= var2) and (var1 <= var3):
   smallest = var1
elif (var2 <= var1) and (var2 <= var3):
   smallest = var2
else:
   smallest = var3
print("The smallest number is", smallest)
sum=var1+var2+var3
average=sum/3
print("The average is", average)

VERSION PYTON

In [ ]:
var1,var2,var3=input("Enter 3 numbers separated by comma:").split(",")
print("The largest number is:"+str(max(int(var1),int(var2),int(var3))),"The smallest number is: "+str(min(int(var1),int(var2),int(var3))), "The average is

# Ejercicio 3

In [ ]:
list1 = []
num = int(input("Enter number of elements in list: "))
total_sum = 0
for i in range(1, num + 1):
    ele= int(input("Enter elements: "))
    list1.append(ele)
    total_sum += ele
avg = total_sum/num
print("List:",list1)
list1.sort()
print("Sorted list in ascending order:",list1)
list1.sort(reverse = True)
print("Sorted list in descending order:",list1)
maximum = max(list1)
print("The largest number is:",maximum)
minimum = min(list1)
print("The smallest number is:",minimum)
print("Average of the list =", round(avg, 2))

VERSION PYTON

In [ ]:
list1 = []
num = int(input("Enter number of elements in list: "))
total_sum=0
for i in range(1, num + 1):
    ele= int(input("Enter elements: "))
    list1.append(ele)
    total_sum += ele

print("List:",list1)

list1.sort()
print("Sorted list in ascending order:",list1)

list1.sort(reverse = True)
print("Sorted list in descending order:",list1)

print("The largest number is:",maximum, "The smallest number is:",minimum, "The average is:",avg)